@font-face {
    font-family: 'Nunito';
    src: url(../fonts/Nunito-VariableFont_wght.ttf);
}

body{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Nunito';
}

.header a{
    text-decoration: none;
    color: black;
}

.header{
    position: sticky;
    top: -100px;
    z-index: 100;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(115,132,150);
    background: linear-gradient(218deg, rgba(115,132,150,1) 14%, rgba(180,196,219,1) 94%);
    width: 100%;
}


.header .contentheader {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-around;
    align-items: center;
}

.dropdown{
    position: relative;
}

.dd-content{
    visibility: hidden;
    position: absolute;
    top: 42px;
    z-index: 1;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.5s linear;
}

span.flecha-despl {
    position: absolute;
    top: -1px;
}

span.categoriadd svg{
    position: absolute;
    top: 10px;
}

span.categoriadd:hover svg{
    visibility: hidden;
}

.iconoMenuDesplCierre{
    display: none;
}

.minidd-content{
    visibility: hidden;
    position: absolute;
    top: 0px;
    margin-left: 147px;
    z-index: 1;
    opacity: 0;
    transition: visibility 0.2s, opacity 0.5s linear;
}

.dd-content .minidd span{
    position: relative;
    color: black;
    background-color: rgba(115, 132, 150, 0.911);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width: 110px;
    margin: 5px;
    border: 1px solid;
    border-radius: 10px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.Alldd-content a{
    text-decoration: none;
}


.dropdown:hover .dd-content{
    visibility: visible;
    opacity: 1;
}

.minidd:hover .minidd-content{
    visibility: visible;
    opacity: 1;
}


.content{
    flex-direction: row;
    flex: 1;
    align-items: center;
}

.izqHead{
    display: flex;
    justify-content: flex-start;
}

.izqHead > div{
    margin: 50px;
}


.search-bar input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid;
    width: 30vw;
}

.search-bar .search-btn{
    padding: 5px;
    background-color: transparent;
    border: none;
}

.search-bar input:focus-visible {
    outline: none;
}

.derHead{
    display: flex;
    justify-content: flex-end;
}

.derHead div{
    margin: 30px;
}

.headerResponsive{
    display: none;
}


@media (max-width: 1050px) {
    .izqHead > div {
        margin: 10%;
    }
    .derHead > div {
        margin: 5%;
    }
    .search-bar {
        width: 80%;
        margin-left: 20%;
    }
    .search-bar input{
        width: 70%;
    }
}

@media (max-width: 768px) {
    .header{
        display: none;
    }
    .headerResponsive{
        display: block;
    }
    .menuDesplRes{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgb(115,132,150);
        background: linear-gradient(218deg, rgba(115,132,150,1) 14%, rgba(180,196,219,1) 94%);
    }

    .dropdownRes{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        background: linear-gradient(218deg, rgba(115,132,150,1) 14%, rgba(180,196,219,1) 94%);
        padding: 14px;
        font-size: 30px;
        left: -50%;
        top: 0;
        z-index: 150;
        width: 50%;
        height: 100vh;
        transition: transform 0.5s ease-in-out;
    }
    .loginRes {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ddR-content{
        display: none;
        flex-direction: column;
        padding-left: 10px;
        
    }

    .categoriaddRes svg{
        width: 30px;
        height: 30px;
    }

    .minidd-contentResM,
    .minidd-contentResE{
        display: none;
        padding-left: 15px;
        flex-direction: column;
    }
    .logoResponsive {
        display: flex;
        justify-content: center;
    }

    .cuadroNegro{
        display: none;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        transition: all 1s;
    }
    
}
